/* Importa las fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Estilo del encabezado */
header {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(247, 49, 49);
  background-color: bisque;
  background-image: url(img/fono.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}


/* Estilo del encabezado */
header h1 {
  font-size: 3em;
  font-family: Arial, sans-serif;
  margin: 0;
}

/*establecen el estilo del cuerpo de la página web*/
body {
  background: #004FF9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFF94C, #004FF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

/* Estilo de los enlaces */
a {
  color: #e74c3c;
  text-decoration: none;
  border-bottom: 2px solid #e74c3c;
}

a:hover {
  background-color: #e74c3c;
  color: #fff;
}

/* Estilo de las imágenes */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #e74c3c;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/*se aplica al contenedor que contiene todos los artículos.*/
#article-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

/*se aplica a cada grupo de artículos*/
.group {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  width: calc(33.33% - 20px);
}


.group:last-child {
  margin-right: 0;
}

/*es un selector que se aplica a cada artículo dentro de un grupo*/
.group article {
  margin-bottom: 20px;
  width: 100%;
}

/*se aplica a los títulos de los artículos.*/
.group h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/*se aplica a los párrafos de los artículos*/
.group p {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}


/*se aplica el boton anadir al carrito*/
.add-to-cart {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px; /*se agrega un borde al boton*/
  cursor: pointer;/*cursor del mouse cambie a una mano al pasar sobre el botón*/
}

.contact__form {
  display: grid;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
}
.contact__form input[type="submit"] {
  padding: 10px 20px;
  font-size: 1.2em;
  margin-top: 20px;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

.form-label {
  font-weight: bold;
}

.form-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.form-select {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

textarea {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px; /*se agrega un borde al boton*/
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2E8B57;

}

#ubicanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    padding: 50px;
  margin-top: 50px;
}

#ubicanos p {
  margin: 10px 0;
  font-size: 18px;
}

#ubicanos iframe {
  margin-top: 20px;
}

/*volver al incio, estilo*/
.nav__link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.nav__link:hover {
  background-color: #2E8B57;
}


/* Estilos de navegación */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0077b6;
}


/* Estilos de botón */
.nav-btn {
  background-color: #0077b6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #00669c;
}